h1{
    text-align: center;
}

.text{
    text-align: center;
    border: 1.5px black solid;
    margin: auto;
    margin-bottom: 1px;
    display: block;
    width: 120px;
}

#mute{
    display: block;
    margin: auto;
    margin-top: 50px;
    border: none;
    background: inherit;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    height: fit-content;
    width: fit-content;
}

#mute:hover{
    background-color: grey;
}

#mute image{
    height: 30px;
    width: 30px;
}

#canvas{
    border: 2px solid black;
    display: inline-block;
    margin: 0 auto;
}

#info{
    list-style-type: none;
    float: left;
    margin: 0 auto;
    padding: 1px;
}

.main{
    border: 3px gray solid;
    float: center;
    margin: 0 auto;
    background-color: lightgray;
    width: fit-content;
    text-align: center;
    padding: 10px;
}