h1{
    text-align: center;
}

.text{
    text-align: center;
    border: 1.5px black solid;
    margin: auto;
    display: block;
    width: 120px;
}

#canvas{
    border: 2px solid black;
    display: inline-block;
    margin: 0 auto;
}

#info{
    list-style-type: none;
    float: left;
    margin: 0 auto;
    padding: 1px;
}

.main{
    border: 3px gray solid;
    float: center;
    margin: 0 auto;
    background-color: lightgray;
    width: fit-content;
    text-align: center;
    padding: 10px;
}